html {
  min-height: 100%;

  body {
    height: inherit;
    background: #edeef2;

    &.page-main {
      background: url('/img/background.jpg') no-repeat;
      background-size: cover;
    }
  }

  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #303030;
    color: #fff;

    .copyright {
      padding: 15px 0;
    }
  }

  .content-main {
    margin-top: 50px;
    padding-top: 15px;
  }

  .btn {
    &:focus,
    &:focus:active {
      outline: none;
    }
  }
}