.header {
  .navbar-default {
    background-color: #2a3344;
    border-color: #244d61;

    .navbar-brand {
      color: #fff;
    }

    .navbar-nav {
      .open {
        >a {

          color: #fff;
          background-color: #01bee6;
        }

        .dropdown-menu {
          li {
            a {
              color: #2a3344;
              background-color: #eee;

              &:hover {
                color: #fff;
                background-color: #2a3344;
              }
            }
          }
        }
      }

      li {
        a {
          color: #fff;

          &:hover {
            color: #eaeaea;
          }
        }
      }
    }
  }

  .navbar-toggle {
    margin: 0;
    padding: 11px 15px;
    border: 0;
    border-radius: 0;
    font-size: 20px;
    color: #fff;

    &:hover {
      background: #394a66;
    }

    &:focus {
      background: inherit;
    }

  }

  .navbar-collapse {
    border-color: #244d61;
    box-shadow: none;
  }
}