.main {
  margin-top: 50px;
  padding-top: 15px;

  .block-envelope {
    &>div:nth-child(5n) {
      clear: left;
    }
  }

  .panel-default {
    border: 0;
    padding: 0;

    .panel-heading {
      font-size: 16px;
      background: #fff;
      border-color: #edeef2;
    }

    .panel-footer {
      background: #fff;
      border-color: #edeef2;
    }

    &.panel-envelope {
      .envelope {
        margin: -10px -15px;

        .btn {
          border: 0;
          border-radius: 0 4px 0 0;
          opacity: .8;

          &:hover {
            opacity: 1;
          }

          .icon-envelope {
            color: #fff;
            font-size: 30px;
          }
        }
      }

      .list-group {
        &.collapse + .panel-footer {
          border-top-width: 1px;
        }

        &.collapse.in + .panel-footer {
          border-top-width: 0;
        }
      }
    }

    .btn {
      &.btn-delete {
        border-radius: 100%;
      }
    }
  }

  .text-center {
    text-align: center;
  }

  .table {
    &.table-borderless {
      tr {
        &:first-child {
          td,
          th {
            border: none;
          }
        }
      }
    }
  }

  .budget-intro {
    .badge {
      font-size: 14px;
    }

    .progress-bar {
      background-color: #6dc7be;
    }
  }
}