.sidebar {
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  background-color: #2f3a4c;
  border-right: 1px solid #c5cad0;
  color: #fff;

  .user {
    margin: 15px 0;

    .avatar {
      float: left;
      width: 50px;
      height: 50px;
      margin-right: 15px;
      font-size: 28px;
      text-align: center;
      color: #2f3a4c;
      line-height: 50px;
      border-radius: 50%;
      background: #fff;
    }

    .name {
      line-height: 50px;
    }
  }

  .nav {
    a {
      color: #2a3344;
      background-color: #eeeeee;

      &:hover {
        color: #fff;
        background-color: #394a66;
      }
    }
  }

  @media (max-width: 768px) {
    width: 280px;
    bottom: auto;
    height: 0;

    &.collapse {
      &.in {
        height: auto;
      }
    }

    .nav {
      margin-bottom: 15px;
    }
  }

  @media (min-width: 769px) {
    &.collapse {
      display: block;
      height: auto !important;
    }
  }
}